body {
  align-items: center;
  display: flex;
  justify-content: center;
}

main {
  text-align: center;
}

h1+.subtitle {
  display: block;
  margin-top: -1em;
}

.code-container {
  display: flex;
}

.code-line-numbers {
  text-align: right;
}

textarea,
.monospaced {
  font-family: monospace;
  font-size: large;
}
